
a. {

}
li {
    list-style: none;
    margin-left:2.4vw;
    justify-content: flex-start;
    flex-shrink: 0;
}

.main_logo {
    width: 151px;
    height: 49px;
}

.hd-wrapper {
    height: 62px;
    /*margin-left: 15vw;*/
    /*margin-right: 15vw;*/
}

.hd-div {
    align:center;

}

.hd-ul {
    display: flex;
    justify-content: space-between;
}

.li-middle {
    margin-left: 9vw;
}
